*{
    margin: 0;
    padding: 0;
}



.mod{
    width: 1499px;
    margin: 20px auto;
    height: 443px;
    background: color #666; 
    
}

.mod .top{
    height: 54px;
    background-color: #555;
}

.mod .mod-content{
    height: 312px;
    border: 1px solid blueviolet;
    border-top-width: 0px;
}



.mod .left{
    float: left;
    width: 184px;
    height: 312px;
    border-right: 1px dotted #a3a3a3;
}
.mod .right{
    float: left;
    /* width: 760px; */
    height: 313px;
    /* background-color: #444; */
    padding: 12px 17px 13px 15px;
 
}
.mod .right .select:first-child{
    width: 37px;
    height: 16px;
    background-color: blue;
    border-radius: 2px;
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}