#box{color:#69F; 
	background-color:#CCF;
	 font-size:24px;
	font-family:"方正小篆体";
	 width:800px;
	 height:100px;}
#p_1{color:red;
	 width:255px;
	background-color:#CFC;
	 height:100px; 
	text-align:center;}
#div{background-color:#F96;
	 text-align:center;}