h1{color:red;}
	#li_2{color:#66F; font-size:24px; font-family:"宋体"; font-style:italic; font-weight:bold;}
	.one{width:800px; height:100px; background-color:#CCF; color:#F93; font-size:26px; font-weight:normal;}
	.盒子{color:#FF0; background-color:#CCF;}