body
 {

     font-family:"隶书"; 
    font-size:16px;
     color: aquamarine;
     
    }
    .wei{
        
        background-color:#525252;
        margin:0 auto;
       text-align: center;
    }
  .zuo p strong
  {
    color: crimson;
  }
   