*{
    margin: 0;
    padding: 0;
}
.one
{
    width: 1000px;
    height: 100px;
    border: 1px solid black;
    margin: 100px;
    overflow: hidden;
}
.one ul
{
    list-style: none;
}
.one ul li
{
    overflow: hidden;
    
    border-bottom: 1px dashed blue ;
    font-size: 18px;

}

.one ul li span.three
{
    color: dodgerblue;
    float: left;
}
.one ul li span.for
{
    float: right;
}