h1{
    font-size:24px; 
    color: aquamarine; 
    text-align:center;
     font-family:
     "宋体";
     font-size:50px;
    }
    p{text-align:center; color:#6C9; font-style:italic;}
    
    .bb {
        color: blueviolet
    }