body {font-family:"楷体";
font:size 32px; 
color:brown; }
.header{
    width: 980px;
    height: 120px;
    background-color: coral;
    margin: 0 auto;
    text-align: center;}
    .banner{
        width: 980px;
        margin: 0 auto;
    }
    .banner h2{
        font-size: 20px;
        line-height: 40px;
    }
    .content{
        width: 980px;
        margin: 0 auto;
        color: black;
        font-size: 30px;
        text-align: center;
    }
    #p_1{color: blue}
    .content h2{line-height: 30px;}
    .content h3{
        line-height: 30px;
        font-size: 20px;
    }
    .content p i{
        font-size: 30px;
        color: coral
    }
    .content p strong,.content p u{color: brown}
    .content p u{font-size: 24px;}
    .content p u{background-color: rgb(228, 196, 255);}
    footer{
        width: 900px;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        color: floralwhite;
        font-family: "宋体";
        font-size: 14px;
        text-align: center;
        background-color: cornflowerblue;
    }
    