.o{ background:url("o.png") top left no-repeat; }
.zimubiao_r3_c2{ width:64px; height:98px; background-position:-10px -10px; }
.zimubiao_r3_c4{ width:108px; height:98px; background-position:-10px -118px; }
.zimubiao_r1_c5{ width:71px; height:91px; background-position:-10px -226px; }

