
.box{
color: aquamarine;
font-size: 100%;
text-align: center;
font-style: bold;
}
#box1{
    color: coral;
    text-align: center;
    font-size: 200%;
    background-color: bisque
    }
#p_1{
    color: cornflowerblue;
    background-color: bisque;
    font-style: italic;
    font-weight: 200;
    line-height: 60px
    }
div{
    font-style: italic;
    font-weight: bold;
    font-family: cursive
    }
    p{
        line-height: 50px;
        font-size: 100%;
        color: violet;
    } 
    span{
        color: blue;
        background-color: bisque
    }
    